/* src/index.css */
body.light {
  --bg-color: white;
  --text-color: black;
}

body.dark {
  --bg-color: #272829;
  --text-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
